.info-wrapper {
	width: 50%;
	padding: 15%;
	background: rgba(0, 0, 0, .3)
}

.design-img {
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.description {
	color: white;
	margin: 0;
}

.h2 {
	font-size: 45px;
	color: white;
	margin: 0;
}

.buy-btn {
	cursor: pointer;
	background-color: #e31138;
	border: none;
	outline: none;
	padding: 10px 20px;
	margin-top: 20px;
	font-weight: 700;
}

.buy-btn:hover {
	color: white;
	background-color: black;
}