@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.slick-slider {
	background-color: black;
	outline: none;
	margin: 0 auto 30px;
}  
  h3 {
	background: black;
	color: #fff;
	font-size: 36px;
	margin: 10px;
	padding: 2%;
	position: relative;
	text-align: center;
	}
  .variable-width .slick-slide p {
	background: blue;
	height: 100px;
	color: #fff;
	margin: 5px;
	line-height: 100px;
	text-align: center;
  }
  .center .slick-center h3 {
	color: #e67e22;
	opacity: 1;
	transform: scale(1.08);
  }
  .center h3 {
	opacity: 0.8;
	transition: all 300ms ease;
  }
  .content {
	padding: 20px;
	margin: auto;
	width: 90%;
	}
	.item-wrapper {
		border: 1px solid white;
		min-height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 100px;
	}
	.bought-title {
		padding-left: 10px;
		color: white;
	}
  .slick-slide .image {
	padding: 10px;
  }
  .slick-slide img {
	display: block;
	margin: auto;
  }
  .slick-slide img.slick-loading {
	border: 0;
  }
  .slick-dots {
	margin-left: 0;
  }
  .slick-thumb {
	bottom: -45px;
  }
  .slick-thumb li {
	width: 60px;
	height: 45px;
  }
  .slick-thumb li img {
	filter: grayscale(100%);
  }
  .slick-thumb li.slick-active img {
	filter: grayscale(0%);
  }
  @media (max-width: 768px) {
	h3 {
	  font-size: 24px;
	}
	.center {
	  margin-left: -40px;
	  margin-right: -40px;
	}
	.center .slick-center h3 {
	  color: #e67e22;
	  opacity: 1;
	  transform: scale(1);
	}
	.center h3 {
	  opacity: 0.8;
	  transform: scale(0.95);
	  transition: all 300ms ease;
	}
  }
  .slick-vertical .slick-slide {
	height: 180px;
  }
  .slick-arrow {
	background-color: transparent;
	color: black;
  }
  .slick-arrow:hover {
	background-color: transparent;
  }
  .slick-prev {
	z-index: 100;
	left: 20px !important;
  }
  .slick-next {
	z-index: 100;
	right: 20px !important;
  }